@charset "UTF-8";

@font-face {
  font-family: 'JetBrains Mono';
  src: url("JetBrainsMono-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
       url("Inter-Bold.woff?v=3.19") format("woff");
}

:root {
  --font-default: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: "JetBrains Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

  --underline-opacity: 0.25;

  --color-text: #24292f;
  --color-header: #222222;
  --color-background: #ffffff;
  --color-neutral-muted: rgba(175,184,193,0.2);
  --color-canvas-subtle: #f6f8fa;
  --color-link: #0360c0;
  --color-link-underscore: rgba(9, 105, 218, var(--underline-opacity));
  --color-link-visited: #551A8B;
  --color-link-visited-underscore: rgba(85, 26, 139, var(--underline-opacity));
  --color-link-hover: #0969da;
  --color-link-hover-underscore: rgba(9, 105, 218, var(--underline-opacity));

  --color-panel-text: #222222;
  --color-panel-background: #ffffff;
  --color-panel-border: #b7b7b7;
  --color-panel-current: #f0f0f0;

  --color-logo-backgorund: #d4d4d4;

  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210,18%,87%,1);

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-default);
  font-size: 18px;
  line-height: 26px;
  background: var(--color-background);
  color: var(--color-text);
}

html, body, .wrapper {
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: var(--color-header);
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--color-border-muted);
}

p {
  margin: 10px 0 0 0;
}

a {
  transition-property: color, border;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link-underscore);
}
a:visited {
  color: var(--color-link-visited);
  border-bottom: 1px solid var(--color-link-visited-underscore);
}
a:hover {
  color: var(--color-link-hover);
  border-color: var(--color-link-hover-underscore);
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  color: #aa3731;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

pre {
  margin: 10px 0 0 0;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
}

pre code {
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 0;
}

table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
}

table tr {
  border-top: 1px solid var(--color-border-muted);
}

table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

p + table {
  margin-top: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 25ch min(75ch, calc(100% - 25ch)) 1fr;
}

.panel {
  grid-column: 1;
  padding: 0;
  background: var(--color-panel-background);
  border-right: 1px solid var(--color-panel-border);
}

.logo {
  padding: 10px 20px;
  font-weight: bold;
  background: var(--color-logo-backgorund);
  text-transform: uppercase;
  font-family: var(--font-monospace);
  cursor: default;
}

.content {
  grid-column: 2;
  padding: 20px 25px;
}

.content img {
  object-fit: contain;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 30px;
}
ul li + li {
  margin-top: 10px;
}

.panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel a, .panel .current {
  display: block;
  padding: 10px 20px;
  border: none;
  color: var(--color-panel-text);
}

.panel ul li + li {
  margin: 0;
}

.panel .current {
  cursor: default;
}

.panel .current, .panel a:hover {
  background: var(--color-panel-current);
}

.panel hr {
  border: none;
  border-top: 1px solid var(--color-panel-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eaf3f2;
    --color-background: #282a3a;
    --color-header: #ffe170;
    --color-link: #bbd760;
    --color-link-underscore: rgba(102, 187, 255, var(--underline-opacity));
    --color-link-visited: #E0B0FF;
    --color-link-visited-underscore: rgba(224, 176, 255, var(--underline-opacity));
    --color-link-hover: #f8ff83;
    --color-link-hover-underscore: rgba(248, 255, 131, var(--underline-opacity));

    --color-panel-text: #888d94;
    --color-panel-background: #1e1f2b;
    --color-panel-border: #161821;
    --color-panel-current: #252633;

    --color-logo-backgorund: #393d4c;

    /* #ff677d red, #34d1ff blue, #8c9198 gray, #575b67 light gray */
  }
}

@media screen and (max-width: 815px) { /* tablet */
  
}

@media screen and (max-width: 450px) { /* mobile */
  .content {
    margin-bottom: 10px;
  }

  .header-content,
  .wrapper {
    grid-template-columns: 1fr min(60ch, calc(100% - 20px)) 1fr;
    grid-column-gap: 10px;
  }

  .content video,
  .content img {
    margin-left: -10px;
    margin-right: -10px;
    max-width: calc(100% + 20px);
  }
}
